# Results from compiling Cython
*.c
*.h
*.so
*.html

# Results from running Python
*.pyc

# Python folders
__pycache__/
build/
dist/
.ipynb_checkpoints

# Output files
*.txt
*.csv
*.log
*.bak
*.prof
*.qtable

# Global Policy files
*.pkl
*.npy

results/

# IDE files
.idea/

# extra files
*.nfs*
